# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


/include/atframe/atapp_config.h
/include/atframe/atapp_conf.pb.h
/src/atframe/atapp_conf.pb.cc

/3rd_party/yaml-cpp/pkg
/3rd_party/yaml-cpp/prebuilt
