# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


/include/atframe/atapp_config.h
/include/atframe/atapp_conf.pb.h
/src/atframe/atapp_conf.pb.cc

## yaml-cpp
/3rd_party/yaml-cpp/pkg
/3rd_party/yaml-cpp/prebuilt

## libressl
/3rd_party/libressl/pkg
/3rd_party/libressl/prebuilt

## openssl
/3rd_party/openssl/pkg
/3rd_party/openssl/prebuilt

## mbedtls
/3rd_party/mbedtls/pkg
/3rd_party/mbedtls/prebuilt

## rapidjson
/3rd_party/rapidjson/repo

## libcurl
/3rd_party/libcurl/pkg
/3rd_party/libcurl/prebuilt
