name: "main"

on: # @see https://help.github.com/en/articles/events-that-trigger-workflows#webhook-events
  push:
    branches: # Array of patterns that match refs/heads
      - main
  pull_request:
    branches: [main]

jobs:
  format:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: CI Job
        shell: bash
        run: |
          bash ci/do_ci.sh format ;
  unix_build: # job id, can be any string
    name: Unix Build
    # This job runs on Linux
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            cc: gcc
          - os: ubuntu-latest
            cc: clang-latest
          - os: macos-latest
            cc: clang-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Generate cache key
        shell: bash
        run: git submodule > '.github/.cache-key'
      - name: Cache packages
        uses: actions/cache@v5
        with:
          path: |
            third_party/install
          key: ${{ matrix.os }}-${{ matrix.cc }}-${{ hashFiles('.github/.cache-key') }}
      - name: Build & Test
        shell: bash
        env:
          USE_CC: ${{ matrix.cc }}
        run: |
          # The OpenSSL config package in apple ci job is break
          if [ -e /opt/homebrew/lib/cmake/OpenSSL ]; then
            rm -rf /opt/homebrew/lib/cmake/OpenSSL || true
          fi
          if [[ "x$USE_CC" =~ xclang.* ]]; then
            bash ci/do_ci.sh clang.test ;
          else
            bash ci/do_ci.sh gcc.test ;
          fi
  vs2022_build: # job id, can be any string
    name: "Visual Studio 2022 Build"
    strategy:
      matrix:
        include:
          - os: windows-latest
            generator: "Visual Studio 17 2022"
            build_shared_libs: "ON"
            platform: x64
          - os: windows-latest
            generator: "Visual Studio 17 2022"
            build_shared_libs: "OFF"
            platform: x64
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Generate cache key
        shell: bash
        run: |
          git submodule > '.github/.cache-key'
      - name: Cache packages
        uses: actions/cache@v5
        with:
          path: |
            third_party/install
          key: ${{ matrix.os }}-shared-${{ matrix.build_shared_libs }}-${{ hashFiles('.github/.cache-key') }}
      - name: Build & Test
        shell: pwsh
        env:
          CMAKE_GENERATOR: ${{ matrix.generator }}
          CMAKE_PLATFORM: ${{ matrix.platform }}
          BUILD_SHARED_LIBS: ${{ matrix.build_shared_libs }}
          CONFIGURATION: RelWithDebInfo
        run: |
          pwsh ci/do_ci.ps1 "msvc.2019+.test" ;
  # mingw_build: # job id, can be any string
  #   name: MinGW Build
  #   strategy:
  #     matrix:
  #       include:
  #         - os: windows-latest
  #           build_shared_libs: "ON"
  #   runs-on: ${{ matrix.os }}
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v6
  #     - name: Generate cache key
  #       shell: bash
  #       run: git submodule > '.github/.cache-key'
  #     - name: Cache packages
  #       uses: actions/cache@v5
  #       with:
  #         path: |
  #           third_party/install
  #           C:/msys64/var/cache/pacman/pkg
  #         key: ${{ matrix.os }}-mingw-${{ hashFiles('.github/.cache-key') }}
  #     - name: Build & Test
  #       shell: bash
  #       env:
  #         BUILD_SHARED_LIBS: ${{ matrix.build_shared_libs }}
  #       run: |
  #         C:/msys64/msys2_shell.cmd -mingw64 -defterm -no-start -here -lc "ci/do_ci.sh msys2.mingw.test"
  coverage: # job id, can be any string
    name: Coverage
    # This job runs on Linux
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            triplet: x64-linux
            cc: gcc
            gcov_flags: "--coverage -fprofile-arcs -ftest-coverage"
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Generate cache key
        shell: bash
        run: git submodule > '.github/.cache-key'
      - name: Cache packages
        uses: actions/cache@v5
        with:
          path: |
            third_party/install
          key: ${{ runner.os }}-coverage-${{ hashFiles('.github/.cache-key') }}
      - name: Generate coverage
        shell: bash
        env:
          USE_CC: ${{ matrix.cc }}
          GCOV_FLAGS: "${{ matrix.gcov_flags }}"
        run: |
          SETUP_INSTALL_LCOV=0
          which lcov || SETUP_INSTALL_LCOV=1
          set -e
          if [[ $SETUP_INSTALL_LCOV -ne 0 ]]; then
            sudo apt update -y
            sudo apt install --no-install-recommends --no-install-suggests -y lcov
          fi
          bash ci/do_ci.sh coverage ;
      - name: Uploaded code coverage
        uses: codecov/codecov-action@v5
        if: ${{ github.event_name != 'pull_request' }}
        with:
          token: ${{secrets.CODECOV_TOKEN}} # not required for public repos
          fail_ci_if_error: true
          files: ${{ github.workspace }}/build_jobs_coverage/coverage.info
  codeql:
    name: CodeQL
    # This job runs on Linux
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            cc: gcc
    runs-on: ${{ matrix.os }}
    permissions:
      actions: read
      contents: read
      security-events: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Generate cache key
        shell: bash
        run: git submodule > '.github/.cache-key'
      - name: Cache packages
        uses: actions/cache@v5
        with:
          path: |
            third_party/install
          key: ${{ matrix.os }}-codeql-${{ matrix.cc }}-${{ hashFiles('.github/.cache-key') }}
      - name: Configure
        shell: bash
        env:
          USE_CC: ${{ matrix.cc }}
        run: |
          bash ci/do_ci.sh codeql.configure
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v4
        with:
          config-file: ./.github/codeql/codeql-config.yml
      - name: Build
        shell: bash
        env:
          USE_CC: ${{ matrix.cc }}
        run: |
          bash ci/do_ci.sh codeql.build
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v4
        with:
          category: "/language:cpp"
